body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.header-title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 15px;
}

#weight-summary {
  text-align: center;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weight-summary table {
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

#weight-summary th,
#weight-summary td {
  padding: 12px 18px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#weight-summary th {
  background-color: #f8f8f8;
  font-weight: bold;
}
#weight-summary td label {
  font-weight: bold;
  margin-right: 8px;
}

#weight-input {
  display: flex;
  align-items: center;
}

button {
  display: none;
}

#add-weight-icon {
  width: 30px;
  height: 30px;
  fill: #007bff;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
  background: none;
  margin-left: 10px;
}

#bmi-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

#calculate-bmi-icon {
  width: 30px;
  height: 30px;
  fill: #28a745;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
  background: none;
}

#weight-history {
  width: 100%;
  max-width: 200px;
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

#weight-history table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

#weight-history th {
  background-color: #f8f8f8;
  font-weight: bold;
  padding: 10px;
}

#myChart {
  max-width: 600px;
  max-height: 400px;
  margin: 20px auto;
  padding: 20px;
}

input[type="number"],
input[type="text"],
input[type="date"] {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 16px);
  box-sizing: border-box;
  text-align: center;
  outline: none;
  transition: border-color 0.3s;
}

#data-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
}

#bmi-calculator {
  padding-top: 20px;
}
